body {
    margin: 0;
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
    color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#background-video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
}

.container {
    text-align: center;
    overflow: hidden;
    z-index: 1;
}

.slide-down {
    opacity: 0;
    transform: translateY(-100%);
    animation: slideDown 1s forwards;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    text-shadow: 0 0 10px #00ff00;
    animation-delay: 0.2s;
}

p {
    font-size: 1.2em;
    margin-bottom: 30px;
    animation-delay: 0.4s;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #00ff00;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

@keyframes slideDown {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #1e1e1e;
    color: #f5f5f5;
}

button {
    background-color: #00ff00;
    color: #121212;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #00cc00;
}

#repos {
    margin-top: 20px;
}

.repo {
    margin-bottom: 20px;
}

.repo h2 {
    margin: 0;
    font-size: 1.5em;
    text-shadow: 0 0 5px #00ff00;
}

.repo h2 a {
    color: #00ff00;
    text-decoration: none;
}

.repo p {
    font-size: 1em;
}

.contact-details h2 {
    margin: 10px 0;
    font-size: 1.5em;
    text-shadow: 0 0 5px #00ff00;
}

.contact-details p {
    font-size: 1.2em;
}

.contact-details a {
    color: #00ff00;
    text-decoration: none;
}

.contact-details a:hover {
    text-decoration: underline;
}